<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <title>The Anash Fondation</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />

    <link href="css/contact.css" rel="stylesheet" />
    <link href="css/partials.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/bootstrap-social.css" />
    <script
      src="https://kit.fontawesome.com/615f60d510.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="text-center py-5 px-5">
      <h1 class="mt-0 mb-3">Contct Us</h1>
      <a
        class="btn text-center mb-2 btn-sm btn-outline-success"
        href="#"
        role="button"
        >Join Us Now!</a
      >
    </header>

    <section class="sec1">
      <div class="row">
        <div class="col-md-8 col-lg-8">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3610.1786539269224!2d55.27218771500953!3d25.197196983896188!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f43348a67e24b%3A0xff45e502e1ceb7e2!2sBurj%20Khalifa!5e0!3m2!1sen!2sin!4v1632252737417!5m2!1sen!2sin"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="row">
            <div class="py-2">
              <div class="icon"><i class="fas fa-home"></i></div>
              <div class="body">
                <h3 class="text-dark addre my-1">Buttomwood California</h3>
                <p class="ass">Rosemade BA 917098</p>
              </div>
            </div>
            <div class="py-2">
              <div class="icon"><i class="fas fa-phone"></i></div>
              <div class="body">
                <h3 class="text-dark addre my-1">+918697507734</h3>
                <p class="ass">Monday to Friday 10am to 5pm</p>
              </div>
            </div>
            <div class="py-2">
              <div class="icon"><i class="fas fa-envelope"></i></div>
              <div class="body">
                <h3 class="text-dark addre my-1">soumyajitroy2411@gmail.com</h3>
                <p class="ass">Send us your Query Anytime!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <form id="contactus" action="" method="post">
          <h3 class="text-dark">Contact us form</h3>
          <fieldset>
            <input
              placeholder="name"
              type="text"
              tabindex="1"
              required
              autofocus
            />
          </fieldset>
          <fieldset>
            <input
              placeholder="Email Address"
              type="email"
              tabindex="2"
              required
            />
          </fieldset>
          <fieldset>
            <input
              placeholder="Phone Number"
              type="tel"
              tabindex="3"
              required
            />
          </fieldset>
          <fieldset>
            <textarea
              placeholder="Type your message here..."
              tabindex="5"
              required
            ></textarea>
          </fieldset>
          <fieldset>
            <button
              name="submit"
              type="submit"
              id="contactus-submit"
              data-submit="...Sending"
            >
              Send Now
            </button>
          </fieldset>
        </form>
      </div>
    </section>

    <footer class="pt-4">
      <div class="row py-3">
        <div class="col-6 px-5">
          <h5 class="px-2">Site Map</h5>
          <ul class="nav justify-content-start pb-3 mb-3">
            <li class="nav-item">
              <a href="/" class="nav-link px-2 text-muted">Home</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2 text-muted">Events</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2 text-muted">Blog</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2 text-muted">FAQs</a>
            </li>
            <li class="nav-item">
              <a href="/about" class="nav-link px-2 text-muted">About</a>
            </li>
          </ul>
        </div>

        <div class="col-4 offset-1">
          <form>
            <h5 class="text-muted">Subscribe to our newsletter</h5>
            <p class="text-muted">
              Monthly digest of whats new and exciting from us.
            </p>
            <div class="d-flex w-100 gap-2">
              <label for="newsletter1" class="visually-hidden"
                >Email address</label
              >
              <input
                id="newsletter1"
                type="text"
                class="form-control"
                placeholder="Email address"
              />
              <button class="btn btn-circle btn-md btn-danger" type="button">
                <i class="fas fa-arrow-right"></i>
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="d-flex justify-content-between py-3 border-top">
        <p class="text-muted ps-5 mb-lg-0">
          &copy; 2021 Company, Inc. All rights reserved.
        </p>
        <ul class="list-unstyled d-flex me-5 pe-5 mb-lg-0">
          <li class="ms-3">
            <a class="link-dark" href="#"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="ms-3">
            <a class="link-dark" href="#"><i class="fab fa-instagram"></i></a>
          </li>
          <li class="ms-3">
            <a class="link-dark" href="#"><i class="fab fa-facebook"></i></a>
          </li>
        </ul>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
