<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <title>The Anash Fondation</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />

    <link href="css/home.css" rel="stylesheet" />
    <link href="css/partials.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/bootstrap-social.css" />
    <script
      src="https://kit.fontawesome.com/615f60d510.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-custom bg-transparent">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img
              src="images/logo.png"
              alt=""
              class="mb-2"
              width="80"
              height="40"
            />
          </a>
          <a class="navbar-brand mb-2" href="/">Anash</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
              </li>
            </ul>
          </div>
          <a class="btn mb-2 btn-sm btn-outline-danger" href="#" role="button"
            >Donate Now</a
          >
        </div>
      </nav>
      <div class="">
        <h1>GIVE A HAND</h1>
        <h2>TO MAKE A BETTER WORLD</h2>
        <h3>
          That don't lights. Blessed land spirit creature divide our made two
          itself upon you'll dominion waters<br />
          man second good you they're divided upon winged were replenish night
        </h3>
        <div class="center">
          <a class="btn mb-2 btn-sm btn-outline-danger" href="#" role="button"
            >Donate Now</a
          >
          <a class="btn mb-2 btn-sm btn-outline-success" href="#" role="button"
            >View Activity</a
          >
        </div>
      </div>
    </header>

    <section class="my-5">
      <div class="container text-center my-3">
        <h1 class="font-weight-light">We Are Serving</h1>
        <div class="row mx-auto my-auto justify-content-center">
          <div
            id="recipeCarousel"
            class="carousel carousel-dark slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <div class="col-md-4">
                  <div class="card">
                    <img
                      src="https://images.unsplash.com/photo-1542810634-71277d95dcbb?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cG9vciUyMGNoaWxkcmVufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body boxes">
                      <h5 class="card-title">Help the poors</h5>
                      <p class="card-text">
                        Some quick example text to build on the card title and
                        make up the bulk of the card's content.
                      </p>
                      <a
                        class="leftbox btn mb-2 btn-sm btn-outline-danger"
                        href="#"
                        role="button"
                        >Donate Now</a
                      >
                      <h4 class="rightbox text-dark">Donations:$50,000</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-4">
                  <div class="card">
                    <img
                      src="https://images.unsplash.com/photo-1488521787991-ed7bbaae773c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cG9vciUyMGNoaWxkcmVufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Help a child</h5>
                      <p class="card-text">
                        Some quick example text to build on the card title and
                        make up the bulk of the card's content.
                      </p>
                      <a
                        class="leftbox btn mb-2 btn-sm btn-outline-danger"
                        href="#"
                        role="button"
                        >Donate Now</a
                      >
                      <h4 class="rightbox text-dark">Donations:$50,000</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-4">
                  <div class="card">
                    <img
                      src="https://images.unsplash.com/photo-1595561579181-263fe6175b73?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cG9vciUyMGNoaWxkcmVufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Help the Ecosystem</h5>
                      <p class="card-text">
                        Some quick example text to build on the card title and
                        make up the bulk of the card's content.
                      </p>
                      <a
                        class="leftbox btn mb-2 btn-sm btn-outline-danger"
                        href="#"
                        role="button"
                        >Donate Now</a
                      >
                      <h4 class="rightbox text-dark">Donations:$50,000</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-4">
                  <div class="card">
                    <img
                      src="https://images.unsplash.com/photo-1497486751825-1233686d5d80?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cG9vciUyMGNoaWxkcmVufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Help the Childrens</h5>
                      <p class="card-text">
                        Some quick example text to build on the card title and
                        make up the bulk of the card's content.
                      </p>
                      <a
                        class="leftbox btn mb-2 btn-sm btn-outline-danger"
                        href="#"
                        role="button"
                        >Donate Now</a
                      >
                      <h4 class="rightbox text-dark">Donations:$50,000</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-4">
                  <div class="card">
                    <img
                      src="https://images.unsplash.com/photo-1602856580608-15599264e9f5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8cG9vciUyMGNoaWxkcmVufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Help senior citizens</h5>
                      <p class="card-text">
                        Some quick example text to build on the card title and
                        make up the bulk of the card's content.
                      </p>
                      <a
                        class="leftbox btn mb-2 btn-sm btn-outline-danger"
                        href="#"
                        role="button"
                        >Donate Now</a
                      >
                      <h4 class="rightbox text-dark">Donations:$50,000</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-4">
                  <div class="card">
                    <img
                      src="https://images.unsplash.com/photo-1505155485412-30b3a45080ec?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHBvb3IlMjBjaGlsZHJlbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Save a child life</h5>
                      <p class="card-text">
                        Some quick example text to build on the card title and
                        make up the bulk of the card's content.
                      </p>
                      <a
                        class="leftbox btn mb-2 btn-sm btn-outline-danger"
                        href="#"
                        role="button"
                        >Donate Now</a
                      >
                      <h4 class="rightbox text-dark">Donations:$50,000</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a
              class="carousel-control-prev bg-transparent w-aut"
              href="#recipeCarousel"
              role="button"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
            </a>
            <a
              class="carousel-control-next bg-transparent w-aut"
              href="#recipeCarousel"
              role="button"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
            </a>
          </div>
        </div>
        <h5 class="mt-2 fw-light">advances one slide at a time</h5>
      </div>
    </section>

    <section class="mt-5 py-5 sec2">
      <div id="boxes">
        <div class="leftbox px-5 py-2">
          <h1 class="head1">Welcome To Charity</h1>
          <h2 class="head2 text-dark">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </h2>
          <h3 class="head3 text-dark">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </h3>
          <a class="btn mb-2 btn-sm btn-outline-success" href="#" role="button"
            >View Activity</a
          >
        </div>
        <div class="rightbox">
          <img
            src="https://media.istockphoto.com/photos/community-food-bank-volunteers-working-during-covid19-crisis-picture-id1283072124?b=1&k=20&m=1283072124&s=170667a&w=0&h=q0Bnacw9eK_7-AUVpMMEi3pbyHJ5_Hzwp4QWvik8M1Q="
            alt=""
          />
        </div>
      </div>
    </section>

    <section class="sec3 my-5">
      <h3 class="text-center mb-3 text-warning">What we Are Doing</h3>
      <h2 class="text-center text-muted">
        Explore the Causes For<br />
        Which We Work
      </h2>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img
                src="https://images.unsplash.com/photo-1542810634-71277d95dcbb?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cG9vciUyMGNoaWxkcmVufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Help the poors</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a
                  class="btn mb-2 btn-sm btn-outline-danger"
                  href="#"
                  role="button"
                  >Donate Now</a
                >
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img
                src="https://images.unsplash.com/photo-1542810634-71277d95dcbb?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cG9vciUyMGNoaWxkcmVufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Help the poors</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a
                  class="btn mb-2 btn-sm btn-outline-danger"
                  href="#"
                  role="button"
                  >Donate Now</a
                >
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img
                src="https://images.unsplash.com/photo-1542810634-71277d95dcbb?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cG9vciUyMGNoaWxkcmVufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Help the poors</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a
                  class="btn mb-2 btn-sm btn-outline-danger"
                  href="#"
                  role="button"
                  >Donate Now</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="my-5 text-center sec4">
      <h1 class="head1 text-center text-light">Welcome To Charity</h1>
      <h2 class="head2 text-center text-light">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod<br />
        tempor incididunt ut labore et dolore magna aliqua.
      </h2>
      <a class="btn mb-2 btn-sm btn-outline-success" href="#" role="button"
        >Join Us Now!</a
      >
    </section>

    <section class="sec5 px-5 pb-5">
      <h1 class="team text-center py-5">
        Our Expert Volunteer<br />
        Alwyes Ready
      </h1>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-team mb-30">
            <div class="team-img">
              <img
                src="https://media.istockphoto.com/photos/put-more-in-get-more-out-picture-id1291318636?b=1&k=20&m=1291318636&s=170667a&w=0&h=UvVIk7wwkN3X9OFm8gBlWWviV5vAjfrq2ejYP30JmnA="
                alt="people"
                class="professional-img"
                width="250px"
                height="350px"
              />
              <ul class="team-social">
                <li>
                  <a href="#"><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fas fa-globe"></i></a>
                </li>
              </ul>
            </div>
            <div class="team-caption">
              <h3 class="mt-3 mb-2"><a href="#">Dexter Cason</a></h3>
              <p>Volunteer Leader</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-team mb-30">
            <div class="team-img">
              <img
                src="https://media.istockphoto.com/photos/put-more-in-get-more-out-picture-id1291318636?b=1&k=20&m=1291318636&s=170667a&w=0&h=UvVIk7wwkN3X9OFm8gBlWWviV5vAjfrq2ejYP30JmnA="
                alt="people"
                class="professional-img"
                width="250px"
                height="350px"
              />
              <ul class="team-social">
                <li>
                  <a href="#"><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fas fa-globe"></i></a>
                </li>
              </ul>
            </div>
            <div class="team-caption">
              <h3 class="mt-3 mb-2"><a href="#">Dexter Cason</a></h3>
              <p>Volunteer Leader</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-team mb-30">
            <div class="team-img">
              <img
                src="https://media.istockphoto.com/photos/put-more-in-get-more-out-picture-id1291318636?b=1&k=20&m=1291318636&s=170667a&w=0&h=UvVIk7wwkN3X9OFm8gBlWWviV5vAjfrq2ejYP30JmnA="
                alt="people"
                class="professional-img"
                width="250px"
                height="350px"
              />
              <ul class="team-social">
                <li>
                  <a href="#"><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fas fa-globe"></i></a>
                </li>
              </ul>
            </div>
            <div class="team-caption">
              <h3 class="mt-3 mb-2"><a href="#">Dexter Cason</a></h3>
              <p>Volunteer Leader</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-team mb-30">
            <div class="team-img">
              <img
                src="https://media.istockphoto.com/photos/put-more-in-get-more-out-picture-id1291318636?b=1&k=20&m=1291318636&s=170667a&w=0&h=UvVIk7wwkN3X9OFm8gBlWWviV5vAjfrq2ejYP30JmnA="
                alt="people"
                class="professional-img"
                width="250px"
                height="350px"
              />
              <ul class="team-social">
                <li>
                  <a href="#"><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fas fa-globe"></i></a>
                </li>
              </ul>
            </div>
            <div class="team-caption">
              <h3 class="mt-3 mb-2"><a href="#">Dexter Cason</a></h3>
              <p>Volunteer Leader</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="pt-4">
      <div class="row py-3">
        <div class="col-6 px-5">
          <h5 class="px-2">Site Map</h5>
          <ul class="nav justify-content-start pb-3 mb-3">
            <li class="nav-item">
              <a href="/" class="nav-link px-2 text-muted">Home</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2 text-muted">Events</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2 text-muted">Blog</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2 text-muted">FAQs</a>
            </li>
            <li class="nav-item">
              <a href="/about" class="nav-link px-2 text-muted">About</a>
            </li>
          </ul>
        </div>

        <div class="col-4 offset-1">
          <form>
            <h5 class="text-muted">Subscribe to our newsletter</h5>
            <p class="text-muted">
              Monthly digest of whats new and exciting from us.
            </p>
            <div class="d-flex w-100 gap-2">
              <label for="newsletter1" class="visually-hidden"
                >Email address</label
              >
              <input
                id="newsletter1"
                type="text"
                class="form-control"
                placeholder="Email address"
              />
              <button class="btn btn-circle btn-md btn-danger" type="button">
                <i class="fas fa-arrow-right"></i>
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="d-flex justify-content-between py-3 border-top">
        <p class="text-muted ps-5 mb-lg-0">
          &copy; 2021 Company, Inc. All rights reserved.
        </p>
        <ul class="list-unstyled d-flex me-5 pe-5 mb-lg-0">
          <li class="ms-3">
            <a class="link-dark" href="#"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="ms-3">
            <a class="link-dark" href="#"><i class="fab fa-instagram"></i></a>
          </li>
          <li class="ms-3">
            <a class="link-dark" href="#"><i class="fab fa-facebook"></i></a>
          </li>
        </ul>
      </div>
    </footer>
    <script src="js/home.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
