* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
html {
  background-color: #fff;
  color: #555;
  font-family: "lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
h1 {
  font-size: 50px;
  color: #fdbb00 !important;
  margin-bottom: 40px;
  margin-top: 40px;
  font-weight: normal;
  word-spacing: 4px;
  letter-spacing: 1px;
}
h2 {
  font-size: 50px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  line-height: 70px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
h3 {
  margin-bottom: 45px;
  font-size: 15px;
  line-height: 25px;
  font-weight: normal;
}
h5 {
  text-align: left !important;
}

.btn-circle.btn-md {
  width: 50px;
  height: 50px;
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
}

header {
  height: 100vh;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1593642702821-c8da6771f0c6?ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxMXx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.center {
  text-align: center;
}
.navbar {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;
  position: relative;
}
.navbar-custom .navbar-brand {
  text-transform: uppercase;
  color: #fff;
  font-size: 30px;
  font-weight: 900;
}

.navbar-custom .nav-item .nav-link {
  color: #ffffff;
}

.navbar-nav > li {
  padding-left: 10px;
  padding-right: 10px;
}

.form-control:focus {
  border-color: #ced4da;
  box-shadow: none;
}

.row {
  margin: 0;
}

footer {
  background-color: black;
}
.fab {
  color: white;
}
.fab:hover {
  color: #00aced;
}
